@tailwind base;
@tailwind components;
@tailwind utilities;

.orange {
  background-color: #ff7d1a;
}

.pale-orange {
  background-color: #ffede0;
}

.dark-blue {
  background-color: #1c2026;
}

.dark-gray-blue {
  background-color: #68707d;
}

.gray-blue {
  background-color: #b6bcc8;
}

.light-gray-blue {
  background-color: #f7f8fd;
}

.white {
  background-color: #ffffff;
}

.lightbox-bg {
  background-color: #000000;
}
